PORT=3100
PGHOST=localhost
PGPORT=5433
PGDATABASE=factorybox
PGUSER=factorybox
PGPASSWORD=factorybox_dev_pass
MQTT_URL=mqtt://broker.emqx.io:1883
MQTT_BASE_TOPIC=mia/site01/laser01
CUSTOMER_CODE=mia-demo
CUSTOMER_NAME=Mia Demo
SITE_CODE=site01
SITE_NAME=Mia Demo Atolye
MACHINE_CODE=laser01
MACHINE_NAME=Lazer-01
MACHINE_TYPE=laser_cutting
DEVICE_UID=laser01
DEVICE_MODEL=FactoryBox One
